<footer>
    <div class="row mt-4" style="display: flex;justify-content: space-between;">
        <div class="col-md-3">
            <h4>Company</h6>
            <p>Lorem ium asperiores nesciunt quod! Voluptatem in, id ad fugit itaque reprehenderit reiciendis enim exercitationem aliquam. Id, et.
            </p>
        </div>
        <div class="col-md-3">
            <h4>Quick Links</h6>
            <ul style="list-style:none;">
                <li>Help</li>
                <li>Navigate</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Follow Us</h6>
            <ul style="list-style:none;">
                <li>lorem</li>
                <li>Ipsum</li>
                <li>Dolor</li>
            </ul>
        </div>
    </div>

    <small class="mt-5 mb-5">Copyright &copy; MR. BLOGS</small>
</footer>