<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Advertisement</title>
    <!--  stylesheet -->

    <link rel="stylesheet" href="/css/home.css">

</head>
<body style="background-color:rgb(255, 255, 255);">
    <%- include('./partials/nav') %>
      
    <div style="padding: 1vw; display: flex;justify-content: center;">
        <iframe width="80%" style="aspect-ratio: 5.5/3;" src="https://www.youtube-nocookie.com/embed/w_JEezynhrc?autoplay=1&mute=1" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
    </div>

    <!-- <div style="align-items: center;justify-content: center;width: 100%;display: flex;padding: 20px 0px; height: 50%;background-color: rgb(44, 43, 43);">
        <video src="/images/ExpenseTracker.mkv" class="object-fit-fill" autoplay muted style="width:75%;"></video>
    </div> -->


    <%- include("./partials/scripts") %>
    
</body>
</html>