<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Careers</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container">
        <h1 style="margin: 10px 0px;">
            Ready to start your journey with us?????
        </h1>

        <h3 style="margin-top: 30px;color: green;">
            New Openings will be displayed in the near future.
        </h3>
    </div>
    
    <%- include("./partials/scripts") %>
</body>
</html>